@import "@{templateCommon}/basekit-bootstrap.less";


.bk-pt-default .main {
    padding-top: 2.5em;
    margin-top: 2em;
    @media @mobile {
        margin-top: 0;
    }
    border-top: 1px solid lighten(@color-swatch7,10%);
}

.main {
    padding-top: 0em;
    padding-right: 0;
    padding-bottom: 2.5em;
    padding-left: 0;
    @media @tablet {
        padding-top: 2em;
        padding-right: 0;
        padding-bottom: 2em;
        padding-left: 0;
    }
    @media @mobile {
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 1.5em;
        padding-left: 0;
    }
}

.wrapper {
     width: 90%;
        margin: 0 5%;
    @media only screen and (min-width: 1140px) {
        width: 1024px;
        margin: 0 auto;
    }
}

ol {
    margin-left: 2px;
}

/* ===============================
   EXTENDED NAVIGATION
   =============================== */

.widget {
    .extendednavigation {
        float: none;
        position: relative;
        max-width: 100%;
        min-height: 40px;
        background-color: hsla(hue(@color-swatch7), saturation(@color-swatch7), lightness(@color-swatch7), 0.6);
        li {
            ul {
                display: none !important;
            }
        }
        ul {
            display: table;
            float: none;
            margin: 0 auto;
            text-align: center;
            padding: 4px 0 0 0;
            @media @tablet {
                /* Hidden until nav icon is clicked */
                display: none;
                /* Then these styles are applied */
                width: 100%;
                border-top: 1px solid @color-swatch7;
                margin: 0;
                padding: 40px 0 0;
            }
            li {
                float: left;
                display: block;
                padding: 5px 0;
                @media @tablet {
                    width: 100%;
                    padding: 1em 0;
                    border-bottom: 1px dotted @color-swatch7;
                    background-color: @color-swatch1;
                    background-image:image('/images/texture-background.png');
                }
                &:last-child {
                    @media @tablet {
                        border-bottom: 1px solid @color-swatch7;
                    }
                }

                &:hover {
                    ul {
                        display: block !important;
                        position: absolute;
                        background-color: @color-swatch1;
                        background-image:image('/images/texture-background.png');
                        border: 1px solid @color-swatch7;
                        z-index: 500;
                        padding: 0;
                        margin: 0 0 0;
                        @media @tablet {
                            background-color: @color-swatch1;
                            background-image:image('/images/texture-background.png');
                        }
                        li {
                            display: block;
                            width: 100%;
                                .box-sizing {
                                    a {
                                        display: block;
                                        color: @color-swatch5;
                                        padding: 0;
                                    }
                                }
                        }
                    }
                }

                a {
                    display: block;
                    padding: 0 15px;
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch6-color;
                    line-height: @font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @font-swatch6-color-hover;
                        text-decoration: underline;
                        @media @tablet {
                            color: @color-swatch5;
                        }
                    }
                    @media @tablet {
                        color: @color-swatch5;
                    }
                }

                &.folder {
                    /* Folder dropdown arrow BG style goes Here */  
                    margin-right: 20px;            
                    cursor: pointer;
                    background-image: none;
                    @media @tablet {
                        background-image:image('/images/texture-background.png');
                        background-repeat: repeat;
                        background-position: center;
                    }
                    .text {
                        display: block;
                        padding: 0 15px;
                        font-family: @font-swatch6-font-family;
                        font-size: @font-swatch6-font-size;
                        font-weight: @font-swatch6-font-weight;
                        color: @font-swatch6-color;
                        line-height: @font-swatch6-line-height;
                        letter-spacing: @font-swatch6-letter-spacing;
                        position: relative;
                        &:after {
                            content: "\25BC";
                            font-size: 5px;
                            position: absolute;
                            top: 1px;
                            display: block;
                            z-index: 9999999;
                            right: 0;
                            color: @color-swatch6;
                            @media @tablet {
                                font-size: 10px;
                                color: @color-swatch6;
                                padding-right: 10px;
                            }
                        }
                        @media @tablet {
                                color: @color-swatch5;
                            }
                        &:hover {
                            color: @font-swatch6-color-hover;
                            text-decoration: none;
                            @media @tablet {
                                color: @color-swatch5;
                            }
                        }
                    }
                    ul {
                        padding: 0;
                        @media @tablet {
                            margin-top: 14px;
                            background-color: @color-swatch1;
                            background-image:image('/images/texture-background.png');
                        }
                        li {
                            a {
                                .text {
                                    padding: 0;
                                    &:after {
                                        content: "";
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

        a {
           &.pull {
               display: none;
               @media @tablet {
                   display: block;
                   margin: 0;
                   width: 20px;
                   height: 44px;
                   position: absolute;
                   top: -3px;
                   left: 48.5%;
                   &:hover {
                       cursor: pointer;
                   }
                   &:after {
                       content: '';
                       position: absolute;
                       width: 100%;
                       height: 3px;
                       background: @color-swatch6;
                       top: 15px;
                       left: 0;
                       box-shadow: 0 6px 0 @color-swatch6, 0 12px 0 @color-swatch6;
                   }
               }
           }
       }
    }
}

.widget .extendednavigation ul li.folder:after {
    display: none;
}


/* ===============================
   HEADER
   =============================== */

.bk-header {
 .companyheader {
        margin-top: 40px;
        .logo, .companyname {
            text-align: center;
        }
        .companyname a {
            display: block;
            padding: 10px;
            font-family: @font-swatch10-font-family;
            font-weight: @font-swatch10-font-weight;
            color: @font-swatch10-color;
            line-height: @font-swatch10-line-height;
            letter-spacing: @font-swatch10-letter-spacing;
            font-size: @font-swatch10-font-size;
                &:hover {
                    text-decoration: none;
                }
                @media @mobile {
                    font-size: bkscale(@font-swatch10-font-size,0.8);
                    line-height: bkscale(@font-swatch10-line-height,0.8);
                    padding-bottom: 20px;
                }
        } 

    }/* end companyheader */

    .widget.content {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        @media @mobile {
            width: 100%;
        }
    }

    .clicktocall {
        text-align: center;
        margin-top: 20px;
        min-height: 43px;
        @media @mobile {
            margin-bottom: 39px;
        }
        a {
            border: 2px solid @color-swatch3;
            padding: 10px 13px;
            font-family: @font-swatch5-font-family;
            font-size: @font-swatch5-font-size;
            color: @font-swatch5-color;
            &:hover {
                color: @color-swatch3;
                text-decoration: none;
            }
            @media @mobile {
                background-position: 10px;
                padding: 10px 10px 10px 38px;
            }
        }
    } /* end clicktocall */
}   /* end header */


/* ===============================
   MENU SECTIONS NAVIGATION
   =============================== */

.widget {
    &.menusections {
        text-align: center;
        padding: 0.5em 0 0;
        min-height: 30px;
        margin: 2em 0;
        @media @tablet {
            border-bottom: none;
            border-top: 1px dotted @color-swatch7;
            margin-top: 1.5em;
        }
        ul {
            display: table;
            width: 100%;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            /* ALIGN CENTER */
            &.align-center {
                li {
                    text-align: center;
                    &:hover {
                        li {
                            text-align: center;
                        }
                    }
                }
            }
            /* ALIGN LEFT */
            &.align-left {
                li {
                    text-align: left;
                    &:hover {
                        li {
                            text-align: left;
                        }
                    }
                }
            }
            /* ALIGN RIGHT */
            &.align-right {
                li {
                    text-align: right;
                    &:hover {
                        li {
                            text-align: right;
                        }
                    }
                }
            }
            li {
                display: inline-block;
                padding: 0 15px 10px 0;
                margin: 0;
                &:last-child {
                    padding-right: 0;
                }
                @media only screen and (max-width: 550px) {
                    width: 100%;
                    border-bottom: 1px dotted @color-swatch7;
                    padding: 15px 0 10px 0;
                }
                a {
                    display: block;
                    font-family:@font-swatch6-font-family;
                    font-size:@font-swatch6-font-size;
                    font-weight: @font-swatch6-font-weight;
                    color: @font-swatch5-color;
                    line-height:@font-swatch6-line-height;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {
                        color: @color-swatch5;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


/* ===============================
   MENU
   =============================== */

.widget.menu {
    background-image:image('/images/diagonal-lines.png');
    background-repeat: repeat;
    padding: 30px;
    @media @tablet {
        background-image: none;
        padding: 30px 0 0;
        width:100%;
    }

    .main {
        border-top: none;
        background-color: lighten(@color-swatch1,3%);
        width: 100%;
        padding: 30px;
        margin: 0 auto;
        display: none;
        &.selected {
            display: block;
        }
        @media @tablet {
            background-color: @color-swatch1;
            width:100%;
            padding: 0;
        }
        @media @mobile {
            margin-bottom: 10px;
            padding:0;
        }

        ol, li {    /* removes list-style */
            list-style: none;
            padding: 10px 0;
            margin: 0;
        } 


        /* MENU-HEADER AND SUB-SECTION HEADER */

        .menu-header, .menu-subsection-header {
            padding: 0 0 3em;
                @media @tablet {
                    padding: 1.25em 0 0.75em;
                }
                h1 {    /* menu-name */
                    text-align: center;
                    overflow: hidden; 
                    &:before, &:after {
                        content: "\2605";
                        display: inline-block;
                        height: 27px;
                        width: 28px;
                        margin: 0 10px;
                        position: relative;
                        top: -2px;
                    }
                 }
                h2 { /* MENU-SECTION-HEADER */
                    text-align: center;
                    overflow: hidden; 
                }
                p {    /* menu-description  menu-section-description  menu-availability */
                    text-align: center;       
                }  
        }   /* end MENU-HEADER AND SUB-SECTION HEADER */


            /* ITEMS */

            .menu-items {
                width: 100%;
                -webkit-column-count: 2;
                -webkit-column-gap: 4em;
                -moz-column-count: 2;
                -moz-column-gap: 4em;   
                column-count: 2;
                column-gap: 4em;
                > * {
                    break-inside: avoid;
                    -webkit-column-break-inside: avoid;
                    -moz-column-break-inside: avoid;
                    -ms-column-break-inside: avoid;
                    -o-column-break-inside: avoid;
                }
                @media only screen and (max-width: 550px) {
                    -webkit-column-count: 1;
                    -moz-column-count: 1;
                    column-count: 1;
                }
                &.odd {
                    @media only screen and (max-width: 550px) {
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;
                    }
                    &.bk1-columns {
                        -webkit-column-count: 1;
                        -moz-column-count: 1;
                        column-count: 1;
                        li {
                            &.menu-item-promoted { 
                                display: block;
                            }
                            .inner-item {
                                .menu-item-image-wrap {
                                    margin: 0 auto;
                                    @media @mobile {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                
                li {  /* menu-item */
                    position: relative;
                    display: block;
                    width: 100%;
                    &.menu-item-promoted { /* menu-item-promoted */
                        padding: 1.2em;
                        margin-bottom: 20px;
                        border: 1px solid @color-swatch7;
                        background-color: fade(@color-swatch7,20%);
                        .inner-item {
                            border: 0;
                            padding: 0;
                            margin: 0;
                        }
                        
                        h3 {
                            width: auto;
                            margin-top: 0 !important;
                            margin-right: 1.8em !important;
                            &:after { 
                                content: "\2665";
                                font-size: 20px;
                                position: absolute;
                                top: 0.8em;
                                display: block;
                                z-index: 9999999;
                                right: 0.8em;
                                color: @color-swatch3;
                            }
                        }
                    }   /* end menu-item-promoted */

                    .inner-item {
                        display: block;
                        width: 100%;
                        border-bottom: 1px solid lighten(@color-swatch7, 15%);
                        padding-bottom: 30px;
                        margin-bottom: 30px;
                        h3 {    /* menu-item-name */  
                            padding: 0;
                        }
                        .menu-item-image-wrap {
                            background-size:cover;
                            background-repeat: no-repeat;
                            height: 200px;
                            background-position: center;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                            img {
                                display: none;
                            }
                        }
                        .menu-item-price p {   /* standard-price */
                            font-family:@font-swatch8-font-family;
                            font-size:@font-swatch8-font-size;
                            font-weight: @font-swatch8-font-weight;
                            line-height:@font-swatch8-line-height;
                            color: @font-swatch8-color;
                            letter-spacing: @font-swatch8-letter-spacing;
                            padding: 0px;
                            margin: 0;
                            display: inline-block;
                        }
                        p {    /* item-description */
                            font-family:@font-swatch5-font-family;
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color:@font-swatch5-color;
                            letter-spacing: @font-swatch5-letter-spacing;
                            float: left;
                            padding: 0;
                        }
                        h4 {  /* nutritional-title */
                            font-family:@font-swatch4-font-family;
                            font-size:@font-swatch4-font-size;
                            font-weight: @font-swatch4-font-weight;
                            line-height:@font-swatch4-line-height;
                            color: @font-swatch4-color;
                            letter-spacing: @font-swatch4-letter-spacing;
                            float: left;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        .menu-item-nutritional-prop { 
                            font-size:@font-swatch5-font-size;
                            font-weight: @font-swatch5-font-weight;
                            line-height:@font-swatch5-line-height;
                            color: @font-swatch5-color;
                            float: left;
                            width: 100%;
                            margin: 0;
                            padding: 0;
                        }
                        .menu-section-item-dietary-props {
                            float: left;
                            width: 100%;
                            margin-top: 5px;
                            padding: 0;
                            .dietary-icon {
                                background-color: lighten(@color-swatch1,3%);
                                width: auto;
                                height: 25px;
                                border: 1px solid @color-swatch5;
                                font-family:@font-swatch5-font-family;
                                font-size:@font-swatch5-font-size;
                                display: block;
                                z-index: 9999999;
                                color: @color-swatch5;
                                float: left;
                                margin-right: 5px;
                                margin-bottom: 5px;
                                padding: 0 7px 3px;
                            }
                            .not-spicy-icon {
                                display: none;
                            }

                           
                        } /* end menu-section-item-dietary-props */    

                        .menu-item-description, .menu-subsection-item-description {
                            margin-bottom: 0.5em;
                            width: 100%;
                        }

                    }   /* end inner-item */
                    .clearfix;

                }  /* end li .menu-item */

            }   /* end ol .menu-items */  

             .menu-subsection .menu-subsection-promoted { /* PROMOTED SUB-SECTION */ 
                border: 2px solid @color-swatch7;
                padding: 2em 2em 0;
                margin-bottom: 2em;
                position: relative;
                &:before {
                   content: " ";
                   position: absolute;
                   top: 3px;
                   left: 3px;
                   right: 3px;
                   bottom: 3px;
                   border: 2px solid @color-swatch7;
               }
                @media @mobile {
                    padding: 0 2em 0;
                }
                .menu-subsection-header {
                    border-bottom: 1px solid lighten(@color-swatch7, 15%);
                    margin-bottom: 20px;
                }
            } /* end PROMOTED SUB-SECTION */

                .menu-info {
                    display: inline-block;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    p { /* menu-note */
                      float: left;
                      width: 100%;
                      padding: 2em 0;
                    }
                } /* end menu-info */
    }/* end main */
} /* end .widget.menu */


/* ===============================
   BUTTONS
   =============================== */

.widget.button button, .widget.contactform fieldset button.btn, .widget.paypalbuynow .widget.button.paypal, .widget.tweet a, .widget.dropbox button, .widget.signupform fieldset button, .widget.blogsearch form button, .widget.profile form button {
    border: 2px solid @color-swatch3;
    &:hover {
        background-color:@font-swatch7-background-color-hover;
    }
}

.widget.paypalbuynow .widget.button.paypal {
  background-image: image('/images/paypal.png');
}

.widget.dropbox .b-wrap .btn {
  background-image: image('/images/dropbox-icon.png');
}

.widget.tweet a, .widget.tweet a:hover, .tweet a:active {
  background-image: image('/images/tweet.png');
  }

.widget.clicktocall a, .widget.clicktocall a:hover {
    @media @mobile {
        background-image: image('/images/ic-desktop-call.png');
        border: 2px solid @color-swatch3;
    }
}

/* ===============================
  IMAGE WIDGET
   =============================== */

.widget.image {
    .image-title, .image-description {
    color: @font-swatch5-color;
    }
}


/* ===============================
  CONTACT FORM
   =============================== */

    .widget.contactform fieldset input, .widget.contactform fieldset textarea {
        border: 1px solid darken(@color-swatch1,10%);
    }

   .contactform fieldset {
        border: none;
        margin: 4px 0 13px;
        padding: 0;
    }

/* ===============================
  SIGN UP FORM & PROFILE FORM
   =============================== */

   .widget.signupform fieldset input, .widget.profile form fieldset input {
        border: 1px solid darken(@color-swatch1,10%);
        background-color: #ffffff;
    }
    .signupform fieldset button, .widget.profile form button {
        padding: 6px 10px 8px;
    }

/* ===============================
  TWITTER
   =============================== */

   .twitter-profile-pic {
        float: left;
        margin-right: 10px;
    }


   /* ===============================
   SLIDESHOW WIDGET
   =============================== */

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        @media @tablet {
            min-height: 350px;
        }
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    .title {
        display: block;
        color: @color-swatch5;
    }
    .description {
        color: @color-swatch5;
    }
    .content-wrapper {
        background: @color-swatch1;
        text-align: center;

    }
    .slideshow-widget {
        /* Arrows */
        .btn-prev,
        .btn-next {
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            width: 40px;
            height: 40px;
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
        .btn-prev {
            &:after {
                content: "\2190";
                color: #fff;
                top: 7px;
            }
        }
        .btn-next {
            &:after {
                content: "\2192";
                color: #fff;
                top: 7px;
            }
        }
        /* Play Button */
        .btn-play {
            background: rgba(0,0,0,0.5);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            left: 45%;
            top: 43%;
            &:after {
                color: #fff;
                letter-spacing: -4px;
                top: 2px;
            }
            @media @mobile {
                width: 40px;
                height: 40px;
                &:after {
                    font-size: 15px;
                    line-height: 36px;
                }
            }
        }
    }
    /* Slideshow Controls */
    .slideshow-widget-controls {
        .dot {
            width: 11px;
            height: 11px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &.selected {
                background-color: @color-swatch3;
            }
        }
    }
}

/* ===============================
   BLOCK QUOTE
  =============================== */

  blockquote {
    background-color: transparent;
    margin: 20px;
    &:before {
        color: @color-swatch3;
    }
  }

/* ===============================
  BLOG
   =============================== */

.blog-post-metadata {
    background-color: transparent;
    background-image: none;
    margin-top: 0;
    text-align: left;
}

.widget {
    &.bloglistposts {
        .blog-post-item {
            border-bottom: 1px dotted @color-swatch5;
        }
    }
}

.blog-post-item {
    margin: 1.5em 0;
    padding-bottom: 1em;
    h2 {
        a {
            font-family: @font-swatch2-font-family;
            font-size: @font-swatch2-font-size;
            font-weight: @font-swatch2-font-weight;
            line-height: @font-swatch2-line-height;
            color: @font-swatch2-color;
            letter-spacing: @font-swatch2-letter-spacing;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.blog-list-footer {
    background-color: transparent;
    background-image: none;
}

.blog-post-more-link {
    float: left;
    width: 100%;
}

/* BLOG SEARCH */
.blogsearch {
    form {
        input {
            border: 1px solid darken(@color-swatch1,10%);
            }

        button {
            padding: 10px;
            color: @font-swatch7-color;
            font-size: @font-swatch7-font-size;
            font-weight: @font-swatch7-font-weight;
            line-height: @font-swatch7-line-height;
            background-color: @font-swatch7-background-color;
            border: none;
        }
    }
}

/* ===============================
  DIVIDER WIDGET
   =============================== */

hr {
    &.line {
        background-color: lighten(@color-swatch7,10%);
        height: 1px;
    }
}


/* ===============================
   SOCIAL BAR WIDGET
   =============================== */

.bk-footer .widget.profile .bk-profile-socialicons, .bk-footer .widget.socialicons .icons  {
    text-align: center;
    margin: 1em;
    span a {
        border: 2px solid @color-swatch7;
    }
}

.widget.profile .bk-profile-socialicons, .widget.socialicons .icons  {
    font-size:1em;
    font-family:@font-swatch7-font-family;
    a {
        text-decoration: none;
        text-indent: -9999px;
        white-space: nowrap;
        height: 33px;
        width: 33px;
        background-color: @color-swatch1;
        &:hover {
        background-color:@color-swatch1;
        }
    }
    span {
        display: inline;
        padding: 0;
        font-size:1em;
        font-family:@font-swatch7-font-family;
        a {
            display: inline-block;
            text-decoration: none;
            text-indent: -9999px;
            white-space: nowrap;
            height: 33px;
            width: 33px;
            border: none;
            background-position: center;
            margin-bottom: 6px;
            margin-right: 6px;
            background-size: 18px;
            border: 2px solid @color-swatch3;
            background-repeat: no-repeat;
            &:hover {
              background-color: darken(@color-swatch1,2%);
            }
        }
    }
}

/* SVG ICONS */
.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a,
.svg .widget.socialicons .icons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter.svg');
}

.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a,
.svg .widget.socialicons .icons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.svg')
}

.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a,
.svg .widget.socialicons .icons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.svg')
}

.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-rss a,
.svg .widget.socialicons .icons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.svg')
}

.svg .svg .widget.socialicons .icons span.bk-socialicons-googleplus a,
.svg .widget.profile .icons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.svg')
}

.svg .widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a,
.svg .widget.socialicons .icons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.svg')
}

/* PNG ICONS */

.widget.profile .bk-profile-socialicons span.bk-socialicons-twitter a,
.widget.socialicons .icons span.bk-socialicons-twitter a {
    background-image: image('/images/social/socialicons-twitter.png');
}

.widget.profile .bk-profile-socialicons span.bk-socialicons-linkedin a,
.widget.socialicons .icons span.bk-socialicons-linkedin a {
    background-image: image('/images/social/socialicons-linkedin.png')
}

.widget.profile .bk-profile-socialicons span.bk-socialicons-facebook a,
.widget.socialicons .icons span.bk-socialicons-facebook a {
    background-image: image('/images/social/socialicons-facebook.png')
}

.widget.profile .bk-profile-socialicons span.bk-socialicons-rss a,
.widget.socialicons .icons span.bk-socialicons-rss a {
    background-image: image('/images/social/socialicons-rss.png')
}

.widget.profile .bk-profile-socialicons span.bk-socialicons-googleplus a,
.widget.socialicons .icons span.bk-socialicons-googleplus a {
    background-image: image('/images/social/socialicons-googleplus.png')
}

.widget.profile .bk-profile-socialicons span.bk-socialicons-youtube a,
.widget.socialicons .icons span.bk-socialicons-youtube a {
    background-image: image('/images/social/socialicons-youtube.png')
}



/* ===============================
    FOOTER
  =============================== */

.bk-footer {
    font-family: @font-swatch5-font-family;
    color: @font-swatch5-color;
    font-size: @font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height:@font-swatch5-line-height;
    letter-spacing: @font-swatch5-letter-spacing;
    padding: 3em 0;
    margin-top: 3em;
    min-height: 150px;
    background-color: @color-swatch2;
    background-image:image('/images/diagonal-lines.png');
    background-repeat: repeat;

        .widget.content {
            background-color: @color-swatch1;
            border: 2px solid @color-swatch7;
            padding: 3em 1.5em;
        }
}   /* end footer */ 

/* ===============================
   PRINT STYLES 
   =============================== */
.print-mixin {
    .widget.menu .main .menu-items li.menu-item-promoted h3:after {
	    color: #b9b9b9;
    }
    .widget.menu .main .menu-subsection .menu-subsection-promoted:before {
	    display: none;
    }
    .menu-subsection,
    .menu-item-promoted {
	   border: 1px solid #b9b9b9 !important;
    }
    .menu-subsection {
	    padding: 20px !important;
	    margin-bottom: 40px !important;
    }
    .widget.menu .main .menu-subsection .menu-subsection-promoted {
	    padding: 0 !important;
	    margin: 0 !important;
    }
}
 
@media print {
    .print-mixin;
}
 
.bk-print {
    .print-mixin;
}
